html,body {
    min-width: 5000px;
    background-color: #000000;
    
}
#moto{
  height:100px;
  width:100%;
  position:fixed;
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  border-width: 20px;
  border-color:#FFFFFF;
  color:#000000;
  text-align: center;
}
#fun{
  position:fixed;
  top:95%;
  height:100px;
  width:100%;
  background-color: #FFFFFF;
}
#home{
  position:fixed;
  left:256px;
  margin:30px;
  background: url("/source/home.png");
  height:50px;
  width:60px;
  background-size:cover;
}
#off{
  position: fixed;
   margin:30px;
  left:1280px;
  background: url("/source/Offers-64.png");
  height: 50px;
  width: 60px;
  background-size: cover;
}
#email {
  position: fixed;
  margin:30px;
  left:768px;
  background: url("/source/small_1x_0c840ee9-92d2-445b-8cd5-12a333200e56.png");
  height: 50px;
  width: 60px;
  background-size: cover;
}
 #h {
   height: 100%;
   width: 100%;
   background-color: #00000000;
   border-width: 0px;
 }
 #e{
   height: 100%;
   width: 100%;
   background-color: #00000000;
   border-width: 0px;
 }
 #o{
   height: 100%;
   width: 100%;
   background-color: #00000000;
   border-width: 0px;
 }